* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.header {
    width: 100%;
    height: 70px;
    background-color: #0B1F2E;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 30px;
}

.logo {
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.logo i {
    color: #ce9a2ac8;
    font-size: 25px;
    margin-right: 10px;
}

.logo span {
    letter-spacing: 1px;
}

.search {
    width: 200px;
    height: 32px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    margin-left: 30px;
}

.search input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
}

.search i {
    position: absolute;
    left: 12px;
    top: 8px;
    color: #222;
    font-size: 14px;
}

.navbar {
    margin-left: auto;
}

.links {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 25px;
}

.links li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.links li a:hover {
    text-decoration: underline;
    color: #C89B3C;
}

.blog {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: -20px;
    width: 160px;
    background-color:  #0B1F2E;
    list-style: none;
    padding: 10px 0;
    display: none;
}

.blog:hover .dropdown {
    display: block;
}

.dropdown li {
    padding: 9px 15px;
}

.dropdown li a {
    color: white;
    font-size: 13px;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: url("../images/Image\ 2026-08-24\ at\ 4.33.01\ PM.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.555);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, -50%);
    width: 750px;
    color: white;
    z-index: 2;
}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero-content p {
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 30px;
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.book {
    background-color: #C89B3C;
    color: #0B1F2E;
    margin-right: 8px;
}

.explore {
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.566);
}

.book:hover {
    background-color: #926c26;
}

.explore:hover {
    background-color: rgb(89, 103, 117);
}

/* WELCOME SECTION*/

.welcome-section {
    background-color: #ffffff;
    padding-bottom: 80px;
    padding: 90px;
    text-align: center;
    height: 600px;
}

.welcome-section h2 {
    font-family: "Playfair Display", serif;
    font-size: 25px;
    font-weight: 500;
    color: #172B3A;
}

.line {
    width: 70px;
    height: 30px;
    margin: 5px auto 30px;
    position: relative;
}

.line::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 1px;
    background-color: #1b4965;
    top: 10px;
    left: 0;
}

.line::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 1px;
    background-color: #1b4965;
    top: 10px;
    right: 0;
}

.line span {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #1b4965;
    transform: rotate(45deg);
    top: 6px;
    left: 31px;
}

.card {
    float: left;
    margin: 12px;
    height: 200px;
    width: 31%;
    border: 1px solid #6862c9;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    padding: 18px;
    overflow: hidden;
}

.card:hover{
     transform: translateY(-5px);
}

.card::after{
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     width: 0;
     height: 0;
     background-color: rgba(27, 73, 101, 0.2);
     z-index: 0;
}

.card:hover::after {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.card i , h3 , p , a {
    position: relative;
    z-index: 1;
}

.card i {
    font-size: 27px;
    color: #1b4965;
    margin-bottom: 17px;
}

.card h3 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: #1b4965;
    margin: 0 0 18px;
}
.card:hover h3 {
    color: #0284c7;
}

.card p {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 15px;
}

.card a {
    display: block;
    margin-top: 20px;
    color: #1b4965;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

/* =========================== */
/* Featured Section Base */
/* =========================== */

.Featured-section {
  height: 1000px;
  margin-bottom: 100px;
  margin-top: 90px;
  text-align: center;
  background-color: #dee4f7;
}

.Featured-section h2 {
  font-size: 32px;
  font-weight: 600;
  color: #111;
  display: inline-block;
  position: relative;
  padding-top: 80px;
  padding-bottom: 12px;
  margin-bottom: 50px;
}

.Featured-section h2::after {
  content: "";
  position: absolute;
  transform: translate(-170%);
  bottom: 0;
  width: 40%;
  height: 3px;
  background-color: #000000;
  border-radius: 2px;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 20px 0;
}

.item {
  float: left;
  width: 370px;
  height: 250px;
  margin: 15px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.Feayured-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.item:hover .Feayured-overlay {
  opacity: 1;
  visibility: visible;
}

.content {
  transform: translateY(30px);
  transition: 0.4s;
  color: #fff;
  text-align: center;
  margin-top: 80px;
}

.item:hover .content {
  transform: translateY(0);
}

.content h4 {
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 5px;
  color: #fff;
  font-weight: 700;
}

.content p {
  font-size: 14px;
  color: #ddd;
  margin-bottom: 15px;
}

.icons {
  display: inline-block;
}

.icons a {
  float: left;
  display: block;
  width: 36px;
  height: 36px;
  margin: 4px;
  padding: 9px;
  background-color: #c7a65e;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
}

/* ================ */
/* offer Section
================= */

.offer-section {
  padding: 200px;
  background-color: #ffffff;
  text-align: center;
}

/* Title & Line Underline */
.title3 h2 {
  font-size: 32px;
  font-weight: 800;
  color: #111;
  display: inline-block;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 40px;
}

.title3 h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  background-color:  #1b4965;
  border-radius: 2px;
}

.offer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.offer-card {
  display: flex;
  gap: 20px;
  background-color: #fff;
 border: 1px solid #6862c9;
  border-radius: 12px;
  padding: 45px 25px;
  text-align: left;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  z-index: 2;
}

.offer-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: rgba(27, 73, 101, 0.2);
  opacity: 0;
  transform-origin: top left;
  z-index: 1;
}

.offer-card:hover {
  transform: translateY(-5px);
}

.offer-card:hover::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.35s;
}

.card-icon {
  font-size: 26px;
  color: #1b4965;
  margin-bottom: 12px;
}

.offer-card h3 {
  font-size: 20px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 12px;
  line-height: 1.3;
}
.offer-card:hover h3 {
  color:  #0284c7;
}

.offer-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}
.offer-card:hover p {
  color: black;
}


/* ==================== Section 5: Why Choose Us ==================== */

.why-section {
  padding: 80px;
}

.why-container {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 1100px;
  margin: auto;
  padding: 20px;
}

.why-content {
  flex: 1.2;
}

.why-content h2 {
  font-size: 32px;
  font-weight: 800;
  color: #111;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 25px;
}

.why-content h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45px;
  height: 3px;
  background-color: #615dfa;
}

/* البراجراف الوصفي الرئيسي */
.desc {
  font-size: 13px;
  color: #a5a5a5;
  line-height: 1.6;
  margin-bottom: 30px;
  width: 450px;
}

/* القائمة المعلمة بعلامة الصح */
.-list p {
  font-size: 13px;
  font-weight: 700;
  color: #666666;
  margin-bottom: 22px;
  align-items: center;
}
/* icons */
.-list p i {
  color: #615dfa;
  font-size: 15px;
}

/* 2. الجانب الأيمن (الصورة + النقط) */
.why-media {
  flex: 0.9;
  text-align: center;
}

.why-media img {
  width: 100%;
  border-radius: 4px;
  display: block;
  margin-bottom: 20px;
}

.dots-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.dots-list li {
  width: 11px;
  height: 11px;
  background-color: #b0b0b0;
  border-radius: 50%;
  cursor: pointer;
}

.dots-list .active {
  background-color: #615dfa;
}
.dots-list li:hover {
   background-color: #615dfa;
}

/* ====== Section 6: Numbers Section ====== */

.numbers-section {
  position: relative;
  background-image: url(../images/Image\ 2026-09-03\ at\ 4.15.36\ AM.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 200px;
  margin-top: 300px;
}

.numbers-overlay {
  background-color: rgba(26, 43, 76, 0.371);
  padding: 100px;
}

.numbers-container {
  width: 1100px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
}

.number-box {
  width: 180px;
}

.number-box i {
  font-size: 30px;
  color: #5953cb;
  margin-bottom: 15px;
}

.number-box h3 {
  font-size: 25px;
  font-weight: 700;
  color: #edf6f9;
  margin-bottom: 8px;
}

.number-box p {
  font-size: 14px;
  font-weight: 700;
  color: #e0e0e0;
  margin: 0;
}

/* ====== Section 7: pricing Section ====== */

.pricing-section {
  padding: 60px;
  text-align: center;
}

.pricing-title h2 {
  font-size: 32px;
  color: #0F172A;
  text-transform: lowercase;
  margin-bottom: 10px;
}

.line4 {
  display: block;
  width: 80px;
  height: 2px;
  background-color: #1B4965;
  margin: 0 auto 40px;
}

.pricing-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 1200px;
  margin: auto;
}

.price-card {
  background-color: #ffffff;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  padding: 30px;
  width: 320px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.3s;
}

.price-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(27, 73, 101, 0.2);
  z-index: -1;
  transition: 0.4s;
}

.price-card:hover::after {
  height: 100%;
}

.price-card h3 {
  font-size: 14px;
  font-weight: 700;
  color: #0F172A;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.price-card:hover h3 {
  color:  #1B4965;
}

.price-circle {
  width: 90px;
  height: 90px;
  border: 2px solid #1B4965;
  border-radius: 50%;
  margin: 0 auto 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.amount {
  font-size: 22px;
  font-weight: 700;
  color: #0F172A;
  line-height: 1;
}

.period {
  font-size: 10px;
  color: #64748B;
  font-weight: 600;
  margin-top: 4px;
}

.price-card p {
  font-size: 13px;
  color: #334155;
  font-weight: 600;
  margin-bottom: 12px;
}

.price-btn {
  margin-top: 15px;
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #CBD5E1;
  border-radius: 4px;
  color: #0F172A;
  font-size: 12px;
  cursor: pointer;
}
.price-card:hover .price-btn {
  background-color: #1B4965;
  color: #ffffff;
}

/*======Reviews Section 8======== */

.reviews-section {
  background-image: url(../images/Screenshot\ 2026-09-04\ 151945.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  margin-top: 100px;
  margin-bottom: 120px;
}

.reviews-overlay {
  background-color: rgba(15, 23, 42, 0.7);
}

.reviews-container {
  display: flex;
  justify-content: center;
  gap: 120px;
  max-width: 1100px;
  margin: auto;
  padding: 120px;
}

.review-box {
  width: 450px;
}

.user-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.user-img {
  width: 80px;
  height: 80px;
}

.user-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-info h3 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

.user-info span {
  color: #2a6f9a;
  font-size: 14px;
  font-weight: 600;
}

.review-text {
  color: #CBD5E1;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 600;
}


/*======= Section 9 ========= */

.team-section {
  padding: 80px;
  text-align: center;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  color: #111827;
  position: relative;
  margin-bottom: 50px;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #1B4965;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

.team-container {
  width: 1200px;
  margin: auto;
  text-align: center;
}

.team-card {
  display: inline-block;
  width: 330px;
  margin: 25px;
  background-color: #e5e7eb;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.team-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(27, 73, 101, 0.2);
  transition: 0.4s;
  z-index: -1;
}
.team-card:hover::after {
  height: 100%;
}

.team-img {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.team-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.4s;
}

.team-card:hover .team-overlay {
  opacity: 1;
}

.team-icons {
  position: absolute;
  top: 0;
  right: 0;
}

.team-icons a {
  display: block;
  padding: 8px;
  width: 35px;
  height: 35px;
  background-color: #1B4965;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}
.team-icons a:hover {
  background-color: #62b6cb;
}

.team-info {
  padding-top: 15px;
}

.team-info h3 {
  font-size: 20px;
  color: #111827;
  margin: 5px;
  transition: 0.4s;
}

.team-info span {
  font-size: 13px;
  color: #6b7280;
  font-weight: 600;
  transition: 0.4s;
}

.team-card:hover .team-info h3 {
  color: #1B4965;
}
.team-card:hover .team-info span {
  color: black;
}

/* ----------- section 10---------- */

.news-section {
  margin-top: 250px;
  margin-bottom: 100px;
  text-align: center;
  background-color: #ffffff;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  color: black;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  transform: translateX(-50% 50%);
  width: 60px;
  height: 2px;
  background-color: #7b8cc4;
}

.news-container {
  width: 75%;
  margin: auto;
}

.news-card {
  display: inline-block;
  width: 300px  ;
  margin: 15px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  text-align: center;
  overflow: hidden;
  z-index: 1;
}

.news-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #c5cdfb;
  transition: 0.4s;
  z-index: -1;
}

.news-card:hover::after {
  height: 100%;
}

.news-img {
  width: 100%;
  height: 220px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;
}

.news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-meta {
  margin: 15px;
  font-size: 12px;
  color: #555555;
  transition: 0.3s;
}

.news-meta span {
  display: inline-block;
  margin: 0 6px;
}

.news-meta i {
  color: #7b8cc4;
}

.news-title {
  font-size: 14px;
  font-weight: bold;
  margin: 13px;
  color: black;
  transition: 0.3s;
}

.news-desc {
  font-size: 13px;
  color: #666666;
  line-height: 1.4;
  margin-bottom: 15px;
  transition: 0.3s;
}

.read-more {
  color: #7b8cc4;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  transition: 0.3s;
}

.news-card:hover .news-desc {
  color: black;
}

.news-card:hover .news-title,
.news-card:hover .news-meta,
.news-card:hover .news-meta i,
.news-card:hover .read-more {
  color: #2b3082;
}

/* ---------Footer Section --------- */

.footer-section {
  background-color: #c5cdfb;
  padding: 40px;
  text-align: center;
}

.footer-container {
  width: 85%;
  margin: auto;
}

.footer-img{
  width: 160px;
  height: 130px;
  margin: 0 auto 20px;
  border-radius: 8px;
  overflow: hidden;
}

.footer-img img {
  width: 100%;
  height: 100%;
}

.footer-social {
  margin-bottom: 10px;
}

.footer-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #5e77c8;
  color: #ffffff;
  border-radius: 50%;
  font-size: 17px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s,;
}

.footer-social a:hover {
  background-color: #2b3082;
  transform: translateY(-2px);
}

.copyright {
  font-size: 11px;
  color: #424242;
  text-transform: uppercase;
}